/* цвет абзацев      #757575
   цвет заголовков  #212121
   основной цвет (цвет ховера)  #2196F3 
   
   background nav #FFFFFF
   background footer (hero) #2F303A
   background first: #F5F5F5
   background second #F5F4FA
   */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --main-color: #2196f3;
  --button-bgc: #f5f4fa;
  --inverts-color: #ffffff;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --icon-color: #afb1b8;
}

/* UTILTTES */

/* * {
  outline: 1px dotted #ccc;
} */

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--inverts-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container--centered {
  display: flex;
  align-items: center;
}

.container--baseline {
  display: flex;
  align-items: baseline;
}

.title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* - - - - - - LOGO - - - - - - */

.logo {
  display: inline-block;
  margin-right: 93px;

  color: #000000;
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__unit {
  color: var(--main-color);
}

.logo--dark-theme {
  margin-bottom: 20px;
  margin-right: 0;
  color: var(--inverts-color);
}

/* - - - - - - SITE NAV - - - - - - */

.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--main-color);
}

.nav-list__item {
  position: relative;
}

.nav-list__link--current {
  color: var(--main-color);
}

.nav-list__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: '';
  width: 100%;
  height: 4px;

  background-color: var(--main-color);
  border-radius: 2px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  padding-top: 20px;
  padding-bottom: 20px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-nav__link:hover,
.contact-nav__link:focus {
  color: var(--main-color);
  fill: var(--main-color);
}

/* ----------------- HERO ----------------- */

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--inverts-color);
}

.hero__btn {
  min-width: 216px;
  border-radius: 4px;
  padding: 10px 32px;
  border-style: none;
  cursor: pointer;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--inverts-color);
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #188ce8;
}

/* ----------------- OUR FEATURES ----------------- */

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list__icon {
  display: flex;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  background-color: var(--button-bgc);
}

.features-list__text {
  font-size: 14px;
  line-height: 1.7;
}

.features-list__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list__item {
  width: calc((100% - 90px) / 4);
}

.features-list__item:not(:last-child) {
  margin-right: 30px;
}

/* - - - - - - - - WHAT ARE WE DOING - - - - - - - - */

.section--padding-null {
  padding-top: 0px;
}

.doing-list {
  display: flex;
}

.doing-list__item {
  position: relative;
}

.doing-list__item:not(:last-child) {
  margin-right: 30px;
}

.doing-list__title {
  position: absolute;
  bottom: 0;
  left: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  width: 100%;

  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
}

/* - - - - - - - - OUR TEAM - - - - - - - - */

.section--bg-color {
  background-color: var(--button-bgc);
}

.team-list {
  display: flex;
}

.team-list__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__metier {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__item {
  width: calc((100% - 90px) / 4);

  background: var(--inverts-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--icon-color);
}

.social__list:not(:last-child) {
  margin-right: 10px;
}

.social__icon:hover,
.social__icon:focus {
  fill: var(--inverts-color);
  background-color: var(--main-color);
}

/* ------------ REGULAR CUSTOMERS ------------ */

.customers-list {
  display: flex;
}

.customers-list__item {
  width: calc((100% - 150px) / 6);
}

.customers-list__item:not(:last-child) {
  margin-right: 30px;
}

.customers-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__icon {
  fill: var(--icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover .customers-list__icon,
.customers-list__link:focus .customers-list__icon {
  fill: var(--main-color);
}

.customers-list__link:hover,
.customers-list__link:focus {
  border-color: var(--main-color);
}

/* - - - - - - PORTFOLIO RADIO-BUTTON - - - - - - */

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-list__link {
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--title-text-color);
  background-color: var(--button-bgc);
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.button-list__link:hover,
.button-list__link:focus {
  color: var(--inverts-color);
  background-color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list__link--active {
  color: var(--inverts-color);
  background-color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --------------- GRID --------------- */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list .item {
  width: calc((100% - 60px) / 3);
}

.portfolio-overley {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  font-family: roboto, sans-serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 3%;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-list .link:hover .portfolio-text,
.portfolio-list .link:focus .portfolio-text {
  transform: translateY(0);
}

.portfolio-list .item .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .item .link:hover,
.portfolio-list .item .link:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.item-border {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
  border-left: 1px solid var(--portfolio-border-color);
}

.portfolio-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-list a {
  text-decoration: none;
}

.portfolio-list .list-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .text {
  color: var(--primary-text-color);
  font-family: roboto;
  font-size: 16px;
  line-height: 1.88;
}

/* --------------- FOOTER --------------- */

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.address-wrapper {
  margin-right: 70px;
}

.address-list__map {
  color: var(--inverts-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__contact {
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.address-list__contact:hover,
.address-list__contact:focus,
.address-list__map:hover,
.address-list__map:focus {
  color: var(--main-color);
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.title-footer {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--inverts-color);
}

.social-footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-footer-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.social-footer-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-list__icon:hover,
.social-footer-list__icon:focus {
  fill: #ffffff;
  background-color: var(--main-color);
}

.mailing-wrapper {
  margin-left: auto;
}

.mailing-inner {
  display: flex;
}

.mailing-form__inpit {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  min-width: 358px;
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-color: rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  color: #ffffff;
}

.mailing-form__inpit:hover,
.mailing-form__inpit:focus {
  border-color: var(--main-color);
}

.mailing-form__inpit::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.mailing-btn {
  display: inline-flex;
  align-items: center;
  outline: none;

  padding: 10px 28px;
  border-radius: 4px;
  border: transparent;
  margin-left: 12px;
  min-width: 200px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: #ffffff;
  background-color: var(--main-color);
}

.mailing-btn__icon {
  margin-left: 10px;
}

.mailing-btn:hover,
.mailing-btn:focus {
  background-color: #188ce8;
}

/* - - - - - - - -  MODAL - - - - - - - - */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-wrapper {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;

  background-color: #fff;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14),
    3px 0px 1px rgba(0, 0, 0, 0.12);
}

.btn-close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;

  border-radius: 50%;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--main-color);
}

.modal-form-list {
  padding: 40px;
}

.modal-form-list__title {
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: var(--title-text-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field__label {
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 5px;
}

.form-field__input {
  width: 448px;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:hover,
.form-field__input:focus {
  border-color: var(--main-color);
}

.form-field__input:hover + .form-field__icon,
.form-field__input:focus + .form-field__icon {
  fill: var(--main-color);
}

.comment-input {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.comment-input:hover,
.comment-input:focus {
  border-color: var(--main-color);
}

.checkbox-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.checkbox__form {
  display: flex;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__icon-no-check {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  opacity: 1;

  background-color: #ffffff;
}

.checkbox__form:checked ~ .checkbox__icon-no-check {
  opacity: 0;
}

.checkbox__form:hover ~ .checkbox__icon-no-check,
.checkbox__form:focus ~ .checkbox__icon-no-check {
  fill: var(--main-color);
}

.checkbox__icon-check {
  position: absolute;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;

  background-color: var(--main-color);

  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__form:checked ~ .checkbox__icon-check {
  opacity: 1;
}

.checkbox__link {
  margin-left: 4px;
  outline: none;
  text-decoration: underline;

  color: var(--main-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__link:hover,
.checkbox__link:focus {
  text-decoration: none;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  border-radius: 4px;
  border-style: none;

  outline: none;

  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: var(--main-color);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}
