/* цвет абзацев      #757575
   цвет заголовков  #212121
   основной цвет (цвет ховера)  #2196F3 
   
   background nav #FFFFFF
   background footer (hero) #2F303A
   background first: #F5F5F5
   background second #F5F4FA
   */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --main-color: #2196f3;
  --button-bgc: #f5f4fa;
  --inverts-color: #ffffff;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --icon-color: #afb1b8;
}

/* UTILTTES */

/* * {
  outline: 1px dotted #ccc;
} */

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--inverts-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* - - - - - - SITE NAV - - - - - - */

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-header {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.link {
  text-decoration: none;
}

.logo {
  margin-right: 93px;

  color: #000000;
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo > span {
  color: var(--main-color);
}

.site-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--main-color);
}

.site-nav .item {
  position: relative;
}

.site-nav .current {
  color: var(--main-color);
}

.site-nav .current::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: '';
  width: 100%;
  height: 4px;

  background-color: var(--main-color);
  border-radius: 2px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav .link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  padding-top: 20px;
  padding-bottom: 20px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact-nav .icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--main-color);
  fill: var(--main-color);
}

/* ----------------- HERO ----------------- */

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--inverts-color);
}

.hero-button {
  min-width: 216px;
  border-radius: 4px;
  padding: 10px 32px;
  border-style: none;
  cursor: pointer;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--inverts-color);
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* OUR FEATURES */

.icon-features {
  display: flex;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  background-color: var(--button-bgc);
}

.features-list .text {
  font-size: 14px;
  line-height: 1.7;
}

.features-list .list-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list .item {
  width: calc((100% - 90px) / 4);
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

/* - - - - - - - - WHAT ARE WE DOING - - - - - - - - */

.project {
  padding-top: 0px;
}

.doing-list {
  display: flex;
}

.doing-list .item {
  position: relative;
}

.doing-list-title {
  position: absolute;
  bottom: 0;
  left: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  width: 100%;

  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
}

.doing-list .item:not(:last-child) {
  margin-right: 30px;
}

/* OUR TEAM */

.team {
  background-color: var(--button-bgc);
}

.person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title-list {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list .item {
  width: calc((100% - 90px) / 4);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--icon-color);
}

.social .social-list:not(:last-child) {
  margin-right: 10px;
}

.icon-social:hover,
.icon-social:focus {
  fill: #ffffff;
  background-color: var(--main-color);
}

/* ------------ REGULAR CUSTOMERS ------------ */

.customers {
  display: flex;
}

.customers .item {
  width: calc((100% - 150px) / 6);
}

.customers .item:not(:last-child) {
  margin-right: 30px;
}

.customers .item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers .link .icon {
  fill: var(--icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers .link:hover .icon,
.customers .link:focus .icon {
  fill: var(--main-color);
}

.customers .link:hover,
.customers .link:focus {
  border-color: var(--main-color);
}

/* - - - - - - PORTFOLIO - - - - - - */

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.button-list .link {
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--title-text-color);
  background-color: var(--button-bgc);
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.button-list .link:hover,
.button-list .link:focus {
  color: var(--inverts-color);
  background-color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list .active {
  color: var(--inverts-color);
  background-color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --------------- GRID --------------- */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list .item {
  width: calc((100% - 60px) / 3);
}

.portfolio-overley {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  font-family: roboto, sans-serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 3%;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-list .link:hover .portfolio-text,
.portfolio-list .link:focus .portfolio-text {
  transform: translateY(0);
}

.portfolio-list .item .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .item .link:hover,
.portfolio-list .item .link:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.item-border {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
  border-left: 1px solid var(--portfolio-border-color);
}

.portfolio-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-list a {
  text-decoration: none;
}

.portfolio-list .list-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .text {
  color: var(--primary-text-color);
  font-family: roboto;
  font-size: 16px;
  line-height: 1.88;
}

/* --------------- FOOTER --------------- */

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--inverts-color);
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-logo > span {
  color: var(--main-color);
}

.address-title .item .link-address {
  color: var(--inverts-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-title .contact {
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.address-title .contact:hover,
.address-title .contact:focus {
  color: var(--main-color);
}

.address-title .item:not(:last-child) {
  margin-bottom: 9px;
}

.title-footer {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.social-footer {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.icon-social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.social-footer .social-list-footer:not(:last-child) {
  margin-right: 10px;
}

.icon-social-footer:hover,
.icon-social-footer:focus {
  fill: #ffffff;
  background-color: var(--main-color);
}

.mailing {
  margin-left: auto;
}

.mailing .mailing-inline {
  display: flex;
}

.mailing .mailing-inpit {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  min-width: 358px;
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-color: rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  color: #ffffff;
}

.mailing .mailing-inpit:hover,
.mailing .mailing-inpit:focus {
  border-color: var(--main-color);
}

.mailing-inpit::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.mailing .mailing-btn {
  display: inline-flex;
  align-items: center;
  outline: none;

  padding: 10px 28px;
  border-radius: 4px;
  border: transparent;
  margin-left: 12px;
  min-width: 200px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: #ffffff;
  background-color: var(--main-color);
}

.mailing .mailing-btn .icon {
  margin-left: 10px;
}

.mailing .mailing-btn:hover,
.mailing .mailing-btn:focus {
  background-color: #188ce8;
}

/* - - - - - - - -  MODAL - - - - - - - - */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;

  background-color: #fff;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14),
    3px 0px 1px rgba(0, 0, 0, 0.12);
}

.backdrop .close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;

  border-radius: 50%;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.backdrop .close:hover,
.backdrop .close:focus {
  fill: var(--main-color);
}

.modal-form-list {
  padding: 40px;
}

.modal-text {
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: var(--title-text-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 5px;
}

.form-input {
  width: 448px;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .icon,
.form-input:focus + .icon {
  fill: var(--main-color);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--main-color);
}

.form-field .icon {
  position: absolute;
  top: 50%;
  left: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.comment-input:hover,
.comment-input:focus {
  border-color: var(--main-color);
}

.checkbox-field {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-label {
  position: relative;
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.form-checkbox {
  display: flex;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.icon-no-check {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  opacity: 1;

  background-color: #ffffff;
}

.form-checkbox:checked ~ .icon-no-check {
  opacity: 0;
}

.form-checkbox:hover ~ .icon-no-check,
.form-checkbox:focus ~ .icon-no-check {
  fill: var(--main-color);
}

.icon-check {
  position: absolute;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;

  background-color: var(--main-color);

  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked ~ .icon-check {
  opacity: 1;
}

.checkbox-link {
  margin-left: 4px;
  outline: none;

  color: var(--main-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link:hover,
.checkbox-link:focus {
  text-decoration: none;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  border-radius: 4px;
  border: transparent;

  outline: none;

  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: var(--main-color);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}
