.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $main-bg-color;
}

.address-wrapper {
  margin-right: 70px;
}

.logo {}

.logo__unit {}

.logo--dark-theme {
  margin-bottom: 20px;
  color: $inverts-color;
}

.address {}

.address-list {}

.address-list__item {

  &:not(:last-child) {
      margin-bottom: 9px;
}
}

.address-list__map {
  color: var(--inverts-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus {
    color: $main-color;
  }
}

.address-list__contact {
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);

  &:hover, &:focus {
    color: $main-color;
  }
}

.icon-footer-wrapper {}

.title-footer {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: $inverts-color;
}

.social-footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-footer-list__item {

  // &:not(:last-child) {
  //   margin-right: 10px;
  // }
}

.social-footer-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  &:hover, &:focus {
    fill: #ffffff;
    background-color: $main-color;
  }
}

.mailing-wrapper {
  margin-left: auto;
}

.mailing-form {}

.mailing-inner {
  display: flex;
}

.mailing-form__inpit {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  min-width: 358px;
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-color: rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  color: $inverts-color;

  &:hover, &:focus {
    border-color: $main-color;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.mailing-btn {
  display: inline-flex;
  align-items: center;
  outline: none;

  padding: 10px 28px;
  border-radius: 4px;
  border: transparent;
  margin-left: 12px;
  min-width: 200px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: $inverts-color;
  background-color: $main-color;

  &:hover, &:focus {
    background-color: $btn-active-color;
  }
}

.mailing-btn__icon {
  margin-left: 10px;
}
