h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: $inverts-color;
  color: $primary-text-color;

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--padding-null {
      padding-top: 0px;
    }
  
  &--bg-color {
    background-color: $button-bgc;
  }
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  &--centered {
    display: flex;
    align-items: center;
  }

  &--baseline {
    display: flex;
    align-items: baseline;
  }
}

.title {
  margin-bottom: 50px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}